body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    background: url(../assets/image/beige-tiles.png);
    
}
/* Global*/
.container{
    width: 960px;
    overflow: hidden;
    margin: auto; 
    background-color: #ffffff;
}

ul{
    margin: 0;
    padding: 0;
}

/* Header*/
header{
    color: #d8cfcf;
    padding-top:  30px;
    min-height: 70px;
    border-bottom: solid #cccccc 3px;
}

header a{
    color: #34495E;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight  {
    background-color: #4aaaa5   ;
    font-weight: bold;
    color:#ebeef0;
}
header .current a{
    color: #239B56;
    font-weight: bold;
}
header a:hover{
    color: #e8491d;
    font-weight: bold;
}

.title{
    color: #239B56;
}
hr{
    border: solid #cccccc 1px;
    margin-bottom: 5px;
}
#boxes {
    margin-top: 20px;
    background-color: #ffffff;
}
.box img{
    float: left;
    margin: 5px;
} 
.main-content {
    min-height: 500px;
    max-height: 500px;
    overflow: scroll;
    padding: 10px;
}


/* Footer */
footer{
    padding: 10px;
    margin-top: 10px;
    color:#ebeef0;
    background: #666666;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Contact Page */

input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }

/* Portfolio main page */

  #flex {
      display: flex;
      justify-content: space-evenly;
      margin: 0 5px;
  }
  #flex1 {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
  }
  .box-content {
    width: 250px;
    height: 200px;
  }
  .fixed {
      position: fixed;
      width: 250px;
      height: 200px;
  }
  .hello {
      position: relative;
      z-index: 999;
      background-color: green;
      color: #ffffff;
      border: 2px solid rgb(55, 0, 128);
      top: 145px;
      text-align: center;
  }

  /*Media Query*/
  @media only screen and (max-width: 640px){
    .container,
    header #branding,
    header nav,
    header nav li
    { 
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    footer {
        position: static;
    }
    
}

  @media only screen and (min-width: 641px) and (max-width: 768px){

    .container,
    header #branding,
    header nav,
    header nav li
    { 
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    footer {
        position: static;
    }

} 


@media only screen and (min-width: 769px) and (max-width: 980px){
     .container,
    header #branding,
    header nav,
    header nav li
    { 
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    footer {
        position: static;
    }
    

}  

 /* @media only screen and (min-width: 980px){

    .container,
    header #branding,
    header nav,
    header nav li
    { 
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    footer {
        position: static;
    }
    .main-content .flex .flex1{
        display: block;
        width: 100%;
    }
}   */

  